<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="client" (ngSubmit)="grabar()">
      <div class="mb-2">
        <label for="NombresCliente">Nombres Cliente</label>
        <input type="text" class="form-control" formControlName="NombresCliente" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">Nombres es requerido</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="Cedula">Cedula</label>
        <input type="text" class="form-control" formControlName="Cedula" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El número de cédula es requerido</div>
          }@else if (client.errors?.["minlength"]) {
          <div>Debe tener mínimo 10 caracteres.</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="Direccion">Dirección</label>
        <input type="text" class="form-control" formControlName="Direccion" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El dirección del cliente es requerido</div>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <label for="Telefono">Telefono</label>
        <input type="text" class="form-control" formControlName="Telefono" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El numero telefonico es requerido</div>
          }@else if (client.errors?.["minlength"]) {
          <div>Debe tener minimo 7 caracteres.</div>
          }@else if (client.errors?.["maxlength"]) {
          <div>Debe tener maximo 17 caracteres.</div>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <label for="Telefono">Telefono</label>
        <input type="text" class="form-control" formControlName="Telefono" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El numero telefonico es requerido</div>
          }@else if (client.errors?.["minlength"]) {
          <div>Debe tener minimo 7 caracteres.</div>
          }@else if (client.errors?.["maxlength"]) {
          <div>Debe tener maximo 17 caracteres.</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="Correo">Correo</label>
        <input type="email" class="form-control" formControlName="Correo" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El correo electrónico es requerido</div>
          }@else if (client.errors?.["email"]) {
          <div>No posee el formato de correo electrónico</div>
          }
        </div>
        }
      </div>
      <div class="mb-2">
        <label for="Contrasenia">Contraseña</label>
        <input type="text" class="form-control" formControlName="Contrasenia" />
        @if (client.invalid && (client.dirty || client.touched)) {
        <div class="alert">
          @if (client.errors?.["required"]) {
          <div class="ng-invalid">El contraseña es requerido</div>
          }
        </div>
        }
      </div>

      <div class="mb-2">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!client.valid"
        >
          Grabar
        </button>
        <button class="btn btn-secondary" routerLink="/clientes">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
