<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="product" (ngSubmit)="grabar()">
        <div class="mb-2">
          <label for="Nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="Nombre" />
          @if (product.invalid && (product.dirty || product.touched)) {
          <div class="alert">
            @if (product.errors?.["required"]) {
            <div class="ng-invalid">Nombre es requerido</div>
            }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Precio">Precio</label>
          <input type="text" class="form-control" formControlName="Precio" />
          @if (product.invalid && (product.dirty || product.touched)) {
          <div class="alert">
            @if (product.errors?.["required"]) {
            <div class="ng-invalid">El Precio es requerido</div>
            }
          </div>
          }
        </div>
        <div class="mb-2">
          <label for="Cantidad">Cantidad</label>
          <input type="text" class="form-control" formControlName="Cantidad" />
          @if (product.invalid && (product.dirty || product.touched)) {
          <div class="alert">
            @if (product.errors?.["required"]) {
            <div class="ng-invalid">la cantidad es requerido</div>
            }
          </div>
          }
        </div>
  
        <div class="mb-2">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!product.valid"
          >
            Grabar
          </button>
          <button class="btn btn-secondary" routerLink="/productos">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  