<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
      <hr />
      <button class="btn btn-primary" routerLink="/nuevo-poliza">Nuevo</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Aseguradora</th>
              <th>Cliente</th>
              <th>Tipo_cobertura</th>
              <th>Monto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (poliza of poliz; track poliza.ID_poliza; let i =
            $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ poliza.Aseguradora}}</td>
              <td>{{ poliza.Cliente }}</td>
              <td>{{ poliza.Tipo_cobertura }}</td>
              <td>{{ poliza.Monto }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-warning"
                  routerLink="/editar-poliza/{{ poliza.ID_poliza }}"
                >
                  Editar
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="eliminar(poliza.ID_poliza)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="5">No existen registros</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="alerta()">mensaje</button>
  