<div class="row" ngPreserveWhitespaces>

    <div class="col-md-12" xs="12">
       <div class="mb-4">
         <div class ="card-header">
           <strong>Lista de Clientes</strong>
         </div>
         <div class="card-body">
           <p class="text-medium-emphasis small">
            <button class="btn btn-succes">Nuevo</button>
           </p>
             <table cTable>
               <thead>
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">Class</th>
                 <th scope="col">Heading</th>
                 <th scope="col">Heading</th>
               </tr>
               </thead>
               <tbody>
               <tr>
                 <th scope="row">1</th>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>&#64;mdo</td>
               </tr>
               <tr>
                 <th scope="row">2</th>
                 <td>Jacob</td>
                 <td>Thornton</td>
                 <td>&#64;fat</td>
               </tr>
               <tr>
                 <th scope="row">3</th>
                 <td colSpan="2">Larry the Bird</td>
                 <td>&#64;twitter</td>
               </tr>
               </tbody>
             </table>
         </div>
       </div>
    </div>
 </div>
 